@import 'variables';

table {
    margin-top: 8px;
    margin-bottom: 16;
}

table th {
    font-weight: bold;
    color: $white;
    background-color: lighten($orange, 5%);
    padding: 2px;
    border: solid 1px lighten($base-border-color, 10%);
}

table td {
    padding: 2px;
    border: solid 1px lighten($base-border-color, 10%);
}
