@import 'variables';

table {
    margin-bottom: 24px;
}

table th {
    font-weight: bold;
    color: $white;
    background-color: $orange;
    padding: 3px;
    border: solid 1px lighten($base-border-color, 10%);
}

table td {
    padding: 3px;
    border: solid 1px lighten($base-border-color, 10%);
}
