<h1>Look And Feel (H1)</h1>

<h2>Headers (H2)</h2>
<h3>Header H3</h3>
<h4>Header H4</h4>
<h5>Header H5</h5>
<h6>Header H6</h6>

<h2>Typography</h2>
<p>
    This is a paragraph.
    This <strong>text is bold</strong>, and <em>this one is italicized</em>.
    This is a <a href="/look-and-feel">link to this page.</a>
    This is a <code>code block</code>.
</p>

<p>
    This is a bullet list:
    <ul>
        <li>First bullet.</li>
        <li>Second bullet.</li>
        <li>Third bullet.</li>
        <li>Fourth bullet.</li>
    </ul>
</p>

<p>
    This is a numbered list:
    <ol>
        <li>First bullet.</li>
        <li>Second bullet.</li>
        <li>Third bullet.</li>
        <li>Fourth bullet.</li>
    </ol>
</p>

<h2>Tables</h2>
<p>
    This is a table:
    <table>
        <thead>
            <tr class="header">
                <th>First column</th>
                <th>Second column</th>
                <th>Third column</th>
                <th>Fourth column</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>0-0</td>
                <td>0-1</td>
                <td>0-2</td>
                <td>0-3</td>
            </tr>
            <tr class="even">
                <td>1-0</td>
                <td>1-1</td>
                <td>1-2</td>
                <td>1-3</td>
            </tr>
        </tbody>
    </table>
</p>
