@import 'variables';
@import 'mixins';
@import 'layout';
@import 'typography';
@import 'sidebar';
@import 'forms';
@import 'lists';

.d-flex {
    display: flex;
}

code {
    display: inline;
    padding: 0 5px
}

pre {
    background-color: $white;
    border: solid 1px #efeee6;
    border-radius: 3px;
    color: $orange;
    display: block
}
