body, html {
    font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

main>.container {
    padding-top: 60px;
}

h1 {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid gainsboro;
}

h2,
h3 {
    padding-top: 0.5rem;
}

p {
    text-align: justify;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:link.redtaglink,
a:visited.redtaglink,
a:active.redtaglink {
    color: red;
}

a:hover {
    text-decoration: none;
    color: orange;
}

a:hover.taglink {
    text-decoration: none;
    color: orange;
    border-top: 2px solid greenyellow;
    border-bottom: 2px solid greenyellow;
}
