<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link href="/static/stylesheet.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>

<body onload="postProcessHTML()">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <!-- pb-2 aligns the brand with the other items in the navbar -->
            <a class="navbar-brand pb-2" href="/">Andúril</a>
            <div class="collapse navbar-collapse pb-2 pb-lg-0" id="navbarContent">
                <ul class="navbar-nav me-auto pb-2 pb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tags">Tags</a>
                    </li>
                </ul>
                <form action="/search" method="GET">
                    <input id="search-input-box" type="search" name="what" class="form-control" placeholder="Search...">
                    <input type="submit" hidden />
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="row pt-3">
                <!-- Empty space to the left on large+ viewports -->
                <div class="col-lg-1 p-0"></div>

                {{ if .Is404 }}
                <div class="col-lg">
                    <h3 class="text-center">Page Not Found (404)</h3>
                    <p class="text-center text-muted">
                        The page you requested does not exist.
                    </p>
                </div>

                {{ else }}
                <!-- Article list OR content of a specific article -->
                <div class="col-lg">
                {{ if .ShowArticleListInsteadOfContent }}
                <h1>{{ .ArticleListHeader }}</h1>
                {{ range .Articles }}
                <div>
                    <h4><a href="/articles/{{ .Key }}">{{ .Title }}</a></h3>
                    <h6 class="text-secondary">{{ .Subtitle }}</h6>
                </div>
                {{ end }}
                {{ else }}
                {{ range .RedHighlightedTags }}
                    <h4><span class="badge bg-danger">{{ . }}</span></h4>
                {{ end }}
                    {{ template "articleContent" . }}
                {{ end }}
                </div>

                {{ if .IsTagListVisible }}
                <!-- Tag sidebar (list of tags) on the right -->
                <div class="col-lg-2 d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                    <a href="/tags"
                        class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5">Tags</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
                        {{ range .Tags }}
                        <a href="/tags/{{ . }}" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <h5 class="mb-1">
                                    <span class="badge {{ if $.IsHighlighted . }} {{ if $.ShouldHighlightRed . }} bg-danger {{ else }} bg-primary {{ end }} {{ else }} bg-secondary {{ end }}">{{ . }}</span>
                                </h5>
                            </div>
                        </a>
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                {{ end }}

                <!-- Empty space to the right on large+ viewports -->
                <div class="col-lg-1 p-0"></div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div class="container">
        <div class="row pt-3">
            <!-- Empty space to the left on large+ viewports -->
            <div class="col-lg-1 p-0"></div>
            <div class="col-lg">
                <hr class="mb-1">
                <p class="text-start text-muted">
                    <a href="#"><small>Top</small></a>
                </p>
            </div>
            <!-- Empty space to the right on large+ viewports -->
            <div class="col-lg-1 p-0"></div>
        </div>
    </div>

    <script src="/static/frontendProcessing.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</body>
</html>
