<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link href="/static/stylesheet.css" rel="stylesheet">

    <!-- FRONTEND LIBRARY DEPENDENT -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- FRONTEND LIBRARY DEPENDENT -->
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <!-- Empty space to the left on large+ viewports -->
                <div class="col-lg-1 p-0"></div>

                <!-- Article content -->
                <div class="col-lg">
                    {{ template "content" . }}
                </div>

                <!-- Tag sidebar (list of tags) on the right -->
                <div class="col-lg-2 d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                    <a href="/tags"
                        class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5 fw-semibold">Tags</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">

                        {{ range .HighlightedTags }}
                        <a href="/tags/{{ . }}" class="list-group-item list-group-item-action active py-3 lh-tight"
                            aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">{{ . }}</strong>
                            </div>
                        </a>
                        {{ end }}

                        {{ range .Tags }}
                        {{ if not ($.IsHighlighted .) }}
                        <a href="/tags/{{ . }}" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">{{ . }}</strong>
                            </div>
                        </a>
                        {{ end }}
                        {{ end }}
                    </div>

                    <!-- Empty space to the right on large+ viewports -->
                    <div class="col-lg-1 p-0"></div>
                </div>
            </div>
    </main>

    <!-- FRONTEND LIBRARY DEPENDENT -->
    <script src="/static/bootstrap.bundle.min.js"></script>
    <!-- FRONTEND LIBRARY DEPENDENT -->
</body>

</html>
