<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link href="/static/stylesheet.css" rel="stylesheet">

    <!-- FRONTEND LIBRARY DEPENDENT (BOOTSTRAP) -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- FRONTEND LIBRARY DEPENDENT -->
</head>

<body onload="appendCopyButtons()">
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <!-- pb-2 aligns the brand with the other items in the navbar -->
            <a class="navbar-brand pb-2" href="/">anduril</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tags">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <main>
        <div class="container">
            <div class="row pt-3">
                <!-- Empty space to the left on large+ viewports -->
                <div class="col-lg-1 p-0"></div>

                <!-- Article content -->
                <div class="col-lg">
                    {{ template "content" . }}
                </div>

                <!-- Tag sidebar (list of tags) on the right -->
                <div class="col-lg-2 d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                    <a href="/tags"
                        class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5">Tags</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
                        {{ range .Tags }}
                        <a href="/tags/{{ . }}" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1{{ if $.IsHighlighted . }} text-primary {{ else }} text-secondary {{ end }}">
                                    {{ . }}
                                </strong>
                            </div>
                        </a>
                        {{ end }}
                    </div>
                </div>

                <!-- Empty space to the right on large+ viewports -->
                <div class="col-lg-1 p-0"></div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <div class="container">
        <div class="row pt-3">
            <!-- Empty space to the left on large+ viewports -->
            <div class="col-lg-1 p-0"></div>

            <div class="col-lg">
                <hr class="mb-1">
                <p class="text-start text-muted">
                    <a href="#"><small>Top</small></a>
                </p>
            </div>

            <!-- Empty space to the right on large+ viewports -->
            <div class="col-lg-1 p-0"></div>
        </div>
    </div>

    <!-- FRONTEND LIBRARY DEPENDENT (BOOTSTRAP) -->
    <script src="/static/bootstrap.bundle.min.js"></script>
    <!-- FRONTEND LIBRARY DEPENDENT -->
</body>

<script>
    function appendCopyButtons() {
        const codeBlocks = document.querySelectorAll("pre")
        codeBlocks.forEach(block => {
            const copyButton = document.createElement("button")
            copyButton.setAttribute("type", "button")
            copyButton.setAttribute("class", "btn btn-light float-end")
            copyButton.innerHTML = "Copy"
            copyButton.addEventListener("click", handleCopyClick)
            block.append(copyButton)
        })
    }

    const copyToClipboard = str => {
        const el = document.createElement("textarea")
        el.value = str
        el.setAttribute("readonly", "")
        el.style.position = "absolute"
        el.style.left = "-9999px"
        document.body.appendChild(el)
        const selected =
            document.getSelection().rangeCount > 0
                ? document.getSelection().getRangeAt(0)
                : false
        el.select()
        document.execCommand("copy")
        document.body.removeChild(el)
        if (selected) {
            document.getSelection().removeAllRanges()
            document.getSelection().addRange(selected)
        }
    }

    function handleCopyClick(evt) {
        const { children } = evt.target.parentElement
        const { innerText } = Array.from(children)[0]
        copyToClipboard(innerText)
        // alert(innerText)
    }
</script>

</html>
